* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    margin: 0 auto;
    padding-top: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-card {
    width: 650px;
    height: 420px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    box-shadow: 0 3px 15px 2px rgb(154, 154, 154);
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0 3px 15px 2px rgb(154, 154, 154);
    padding: 10px;
    border-radius: 4px;
}


.card-item li {
    width: 200px;
    height: 140px;
    margin: 0 4px;
    padding: 4px;
    cursor: pointer;
}


.border{
    border-color: orange;
    transition: all .2s linear;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 4px;
    border: 2px solid transparent;
}
